* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    background-color: rgb(201, 186, 207);
}

header {
    text-align: center;
    justify-content: center;
    background-color: rgb(51, 51, 121);
    padding: 20px;
    margin-top: -9px;

}

header h1 {
    color: rgb(44, 151, 151);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header p {
    color: rgb(142, 158, 172);
    /* margin-top: -15px; */
    margin-bottom: 30px;
}

header a {
    color: aliceblue;
    text-decoration: none;
    padding: 12px;
    border: 1px solid gray;
    background: rgb(51, 63, 95);
    border-radius: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: .8rem;
    padding-top: 7px;
    padding-bottom: 7px;

}

header a:first-child {
    margin-right: 20px;
}

header a:nth-child(2) {
    margin-right: 20px;
}

header nav {
    margin-bottom: 20px;
}

header a:hover {
    background: rgb(78, 151, 185);
}

#about {
    display: flex;
    flex-direction: column;

    border: 1px solid white;
    background: rgb(245, 237, 237);
    margin-left: 370px;
    margin-right: 370px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px 40px;
}

#about h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-left: 3px solid rgb(80, 80, 190);
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;

}

#about figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#about figure img {
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid aquamarine;
}

#about figcaption {
    font-size: .9rem;
    color: rgb(117, 111, 111);
}

#about p {
    margin-top: 20px;
    border: 1px solid grey;
    padding: 3px;
    background: rgb(199, 177, 177);
    font-size: .9rem;
}

.projects {
    border: 1px solid white;
    background: rgb(245, 237, 237);
    margin-left: 370px;
    margin-right: 370px;
    margin-top: 40px;
    padding: 10px 40px;

}

.projects h2 {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-left: 3px solid rgb(80, 80, 190);
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.projects article {
    padding-bottom: 20px;
}

.proj1:hover {
    transform: translateY(-5px);
}
.proj2:hover {
    transform: translateY(-5px);
}

.proj1 {
    border-top: 1px solid pink;
    background: rgb(187, 150, 189);
    padding-left: 1px;
    display: inline-block; 
  width: 45%;
  margin-right: 40px;
  border: 1px solid ;
}

.proj1 h3 {
    text-transform: uppercase;
    padding: 5px;
    color: white;
}
.proj1 a {
    text-decoration: none;
    margin-left: 15px;
}
.proj1 p {
    margin-left: 15px;
}
.proj2 p {
    margin-left: 40px;
}
.proj2 h3 {
    text-transform: uppercase;
    padding: 5px;
    color: white;
}
.proj2 a {
    text-decoration: none;
    margin-left: 40px;
}


#skills {
    background: #ffffff;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    
    width: 530px;
    height: 70px;
    box-sizing: content-box;

}

#skills h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(15, 15, 15);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 30px;
}

#skills ul li {
    
    display: inline;
    justify-content: space-around;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    border: 1px solid gray;
    background: rgb(118, 135, 184);
    border-radius: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: .9rem;
    list-style-type: none;
    text-align: center;
    
    
}
#skills ul li:first-child {
    margin-right: 40px;
}
#skills ul li:nth-of-type(2) {
    margin-right: 40px;
}


#intro {
    border: 1px solid white;
    background: rgb(245, 237, 237);
    margin-left: 370px;
    margin-right: 370px;
    margin-top: 40px;
    padding: 10px 40px;
}

#intro h2 {
    border-left: 3px solid rgb(80, 80, 190);
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#intro video {
    background: white;
    /* padding-top: 10px; */
    border-radius: 5%;
    object-fit: cover;
    border: 5px solid rgb(204, 233, 215);
    height: 200px;
    width: 400px;
    margin-left: 60px;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 10px;
}
footer {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: #ffffff;
    padding: 35px 25px;
    border-radius: 12px;
    margin-bottom: 40px;
    margin-top: 40px;
    display: block;
    unicode-bidi: isolate;
    margin-left: 370px;
    margin-right: 370px;
}
footer h2 {
    border-left: 3px solid rgb(80, 80, 190);
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.forum label {
    display: block;
    color: white;
    /* text-transform: uppercase; */
    /* font-family: var(--font-display); */
    font-size: 0.8rem;
    padding: 10px 0 5px;
}
.forum input[type="text"],
 input[type="email"],
 input[type="number"],
 select,
 textarea {
    width: 100%; /* Makes the box fill its container */
    max-width: 400px; /* Optional: Prevents the box from becoming too wide */
    box-sizing: border-box; /* Crucial: Includes padding in the width calculation */
    border-radius: 1em;
    border: 1px solid aquamarine;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px; /* Keeps text starting on the left */
    font-size: 0.9rem;
    color: #cbd5e1;
    text-align: left;
}
button{
    padding: 10px 20px;
    border-radius: 1em;
    outline: none;
    /* border: 1px solid var(--color-border);
    font-family: var(--font-display); */
    /* text-transform: uppercase; */
    background: rgb(50, 98, 170);
        color: #cbd5e1;
        border: none;
        padding: 10px;
        margin-bottom: 10px;
}
button:hover{
    padding: 10px 20px;
    border-radius: 1em;
    outline: none;
    /* border: 1px solid var(--color-border);
    font-family: var(--font-display); */
    /* text-transform: uppercase; */
    background: rgb(103, 131, 173);
        color: #cbd5e1;
        border: none;
        padding: 10px;
        margin-bottom: 10px;
}
footer h3{
    /* text-transform: uppercase; */
    background: rgb(214, 216, 219);
    background-clip: text;
    color: transparent;
    letter-spacing: 0.1em;
font-size: 0.9rem;
    margin-bottom: 20px;
    /* margin-top: 20px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.ez a {
    padding-top: 20px;
    color: aqua;
    text-decoration: none;
    font-size: .9rem;
    
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid gray;
    
}
.underline a {
    text-decoration: none;
    color: aqua;
}
.underline a:hover {
    text-decoration: underline;
    color: aqua;
}
.ez a:hover {
    text-decoration: underline;
    color: aqua;
}
